*{
    margin: 10px;;
    padding: 10px; ;
    box-sizing: border-box;
}

.Padre{
}
        .Header{
            background: url(../img/1h.jpg);
            background-position: center;
            background-attachment: contain;
            background-size: cover;
            display: flex;
            flex-flow: column nowrap;
    
        }
            .Menu{
                background: #353541;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                height: 100px;
                
            }
                .logo{
                    background: #060607;
                    flex: 1 1 auto;
                  
                }
                .nav{
                    background: #443C68;
                    flex: 1 1 auto;
                    
                }
                .social{
                    background:#443C68 ;
                    flex: 1 1 auto;
                    
                }
                

            .texto_principal{
                background: #393053;
                
            }
                h1{
                    background: rgb(152, 45, 214);
                    
                }
        .seccion{
        background: #000;
        display: flex;
        
        }
            .articulos{
                background: #443C68;
                display: flex;
                flex: 2 1 auto;
                flex-flow: row wrap;
            }
                .articulo{
                    background: #635985;
                    flex: 1 1 40%;
                }

                .navegacion{
                    background: #63579b;
                    flex: 1 1 100%;
                }
            .aside{
                background: #514586;
                flex: 1 1 auto;
            }
                .publicidad{
                    background: #635985;
                }
        .footer{
        background: #000;
        display: flex;
        justify-content: center;
        
        }
            .pie{
                background: #635985;
                display: flex;
            }

@media all and (max-width: 768px){
    .seccion{
        flex-direction:column;
    }
    .Menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;

    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}