*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
   
    
}
body{
    font-family: 'Shantell Sans', cursive;
    background-color: #000;
    

}
a{
    text-decoration: none;
}

.Padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    padding: 0 50px;
}
        .Header{
            background: url(../img/3h.jpg);
            background-position: center;
            background-attachment: contain;
            background-size: cover;
            display: flex;
            flex-flow: column nowrap;
    
        }
       
        
            .Menu{
                background: rgba(0, 0, 0, .3);
                display: flex;
                flex-flow: row nowrap;
                height: 60px;
                align-items: center;
                border-bottom: 1px solid rgb(255, 255, 255, .5);
                
            }
                .logo{
                  
                    flex: 1 1 auto;
                    font-size: 30px;
                }
                    .logo a{
                        color: #7608cf;     
                    }
                    .logo a:hover{
                        color: rgb(253, 251, 251);     
                    }
                .nav{
                  
                    flex: 1 1 auto;
                    
                }
                    .nav a {
                        color: #8a05f7;
                        font-size: 11px;
                        text-transform: uppercase;
                        padding: 0 10px;
                        letter-spacing: 5px;
                    }
                    .nav a:hover{
                        color: rgb(250, 246, 246);     
                    }
                
            .texto_principal{
                
                height: 500px;
                display: flex;
                align-items: center;
                
            }
                h1{
                    font-family:initial;
                    color: #8a05f7;
                    font-size: 21px;
                    font-weight: 300px;
                    text-align: center;
                    line-height: 1.6;
                }
        .seccion{
        background: #070707;
        display: flex;
        
        }
            .articulos{
                background: #706c6c;
                display: flex;
                flex: 2 1 auto;
                flex-flow: row wrap;
            }
                .articulo{
                    
                    flex: 1 1 30%;
                    color: #444;
                    font-size: 13px;
                    letter-spacing: 1px;
                    margin: 10px 10px 0 0px; 
                    flex: 1 1 35%;
                    background: #ececec;
                }
                .articulo img{
                    width: 100%;
                }
                .articulo a{
                    color: #fff;
                    font-size: 13px;
                    padding: 10px 10px;
                    background: #000;
                    margin: 10px 0;
                    display: inline-block;
                }
                .articulo a:hover{
                    background-color: #546cc3;
                }
                h2{
                    color: #050505;
                    font-size: 25px;
                    text-transform: uppercase;
                    padding: 0px 0 10px 0;
                    
                }

                .navegacion{
                    background: #d8d6e2;
                    flex: 1 1 80%;
                }
            .aside{
                background: #706c6c;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .aside img{
                width: 100%;
            }
            h4{
                background: rgba(0, 0, 0, .4);
                color: #fff;
                padding: 10px;
                text-transform: uppercase;
            }
                .publicity{
                    background:  rgba(0, 0, 0, .3);
                    
                }
        .footer{
        background: #000;
        display: flex;
        justify-content: center;
        
        }
            .pie{
                background: #635985;
                display: flex;
            }

@media all and (max-width: 768px){
    .seccion{
        flex-direction:column;
    }
    .Menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;

    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}